body {
  margin: 0;
  padding: 0;
  font-family: "roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  border: 1px solid #6f6c70;
  padding: 20px 20px;
}
.totalBlock {
  width: 500px;
}

.labelContentDiv {
  text-align: left;
  color: #293189;
}
.countContentDiv {
  text-align: right;
}
.headerContentDiv {
  padding: 20px 0px 10px 0px;
}
.incDcrIcons {
  padding: 0px 20px;
  font-size: 20px;
}
.incIcons {
  color: #df425d;
}
.dcrIcons {
  color: #293189;
}
hr {
  border-top: 1px solid rgba(99, 89, 88, 0.6) !important;
}
.disabled-button {
  opacity: 0.2;
  pointer-events: none;
}
